manifest {
    name = 'HTS_IL17_Psoriasis'
    description = 'FAIR screening-to-biology prioritization workflow for psoriasis / IL-17 biology'
    mainScript = 'main.nf'
    version = '0.1.0'
}

params {
    outdir = 'results'
    demo_data = 'demo_data'
}

profiles {
    test {
        includeConfig 'conf/test.config'
    }
    local {
        includeConfig 'conf/local.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
    awsbatch {
        includeConfig 'conf/awsbatch.config'
    }
}
