/*
 * Template AWS Batch profile. Replace placeholders before use.
 */
aws {
    region = 'us-west-2'
}

process {
    executor = 'awsbatch'
    queue = 'YOUR_AWS_BATCH_QUEUE'
    container = 'YOUR_ECR_OR_PUBLIC_CONTAINER'
}

workDir = 's3://YOUR_BUCKET/HTS_IL17_Psoriasis/work'

params {
    outdir = 's3://YOUR_BUCKET/HTS_IL17_Psoriasis/results'
}
